
.white,
.panel .white{
    color: white;
}

.blueback{
    background-color: #6E899C;
}


.seperator,
.panel .seperator{
    margin-top: 70px;
}

.uncNavy{
    background-color: #34617F;
}

#masonBox{
    background-color: #56A0D3;
    padding: 0px;
    padding-top: 0px;
    border-top: 2px solid white;
}

.mason{
    width: 100%;
    margin-bottom: 15px;
}



/*HEADROOM CSS BEGINS */

.headroom {
    transition: transform 250ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(100%);
}

/*HEADROOM CSS ENDS */


#appTitle{
    position: relative;
    top: 10px;
}

.bottomNav{
  position: fixed;
  bottom: 0;
  z-index: 1;
}
