
.white,
.panel .white{
    color: white;
}

.blueback{
    background-color: #56A0D3;
    border: 0px;
}


.seperator,
.panel .seperator{
    margin-bottom: 1.25em;
    margin-top: 84px;
}

.uncNavy{
    background-color: #34617F;
}

#masonBox{
    background-color: #56A0D3;
    padding: 5px;
    padding-top: 10px;
    border-top: 2px solid white;
}

.mason{
    width: 100%;
    margin-bottom: 10px;
}



/*HEADROOM CSS BEGINS */

.headroom {
    transition: transform 250ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

/*HEADROOM CSS ENDS */


#appTitle{
    position: relative;
    top: 10px;
}